<div class="d-flex justify-content-center">
<div class="col-md-6">
<h4 style="color: white;" class="text-center">Login</h4>
<form [formGroup]="loginForm" class="form" (submit)="login()" >

    <div class="form-group">
        <input  
            #emailInput
            formControlName="email"
            class="form-control"
            placeholder="email"
            autofocus>
        <ap-alertas
            *ngIf="loginForm.get('email')?.errors?.['required']"
            text="Email é obrigatório">
        </ap-alertas>
    </div>

    <div class="form-group">
        <input 
            formControlName="senha"
            type="password"
            class="form-control"
            placeholder="senha">
        <ap-alertas
            *ngIf="loginForm.get('senha')?.errors?.['required']"
            text="Senha é obrigatório">
        </ap-alertas>
    </div>

    <button style="  background: #6C4AB6;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    color: white;"
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-block">
        Entrar
    </button>

</form>

<p>Não possui cadastro? <a [routerLink]="['/cadastrar']">Registre-se aqui</a></p>
</div>

</div>
