<!--<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">-->
<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
   <img src="../../../../assets/Imagens/foto-user.png" alt="Aspas coloridas">
    <!--<p class="conteudo">{{ pensamento.dataPost }}</p>-->
    <h3 class="conteudo"><b>{{ pensamento.user.nickname }}</b></h3>
    <p style="color: #6C4AB6;" class="conteudo"><b>{{ pensamento.user.status }}</b></p>
    <p style="font-size: 12px;" class="conteudo"><b><i>{{ pensamento.dataPost }}</i></b></p>
    <p class="conteudo"><b>{{ pensamento.post }}</b></p>
    <p class="conteudo"><b>{{ pensamento.id }}</b></p>
    
    <div class="acoes">
        <button class="botao-curti" (click)="criarReaction1()">
            <img style="width: 30px;" src="../../../../assets/Imagens/1.png"  alt="Ícone de curti">
            <p>{{pensamento.gostei}}</p>
        </button>
        <button class="botao-nao-curti" >
            <img style="width: 30px;" src="../../../../assets/Imagens/2.png"  alt="Ícone de nao-curti">
            <p>{{pensamento.naoGostei}}</p>
        </button>
        <!--<button class="botao-editar">
            <img style="width: 30px;" src="../../../../assets/Imagens/icone-editar.png" routerLink="/postagens/editarPostagem/{{ pensamento.id }}" alt="Ícone de editar">
        </button>
        <button class="botao-excluir" routerLink="/postagens/excluirPostagem/{{ pensamento.id }}">
            <img style="width: 30px;" src="../../../../assets/Imagens/icone-excluir.png" alt="Ícone de-excluir">
        </button>-->
    </div>
</div>
